ion-badge {
  margin-left: auto;
}

ion-card-content.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  color: var(--ion-color-medium);
}

ion-card-content.empty ion-icon {
  font-size: 3rem;
  color: var(--ion-color-medium);
}

.new-tx {
  animation: glow 1s ease-out;
}

@keyframes glow {
  0% {
    background-color: #00ffc31a;
  }
  50% {
    background-color: #00ffc355;
  }
  100% {
    background-color: transparent;
  }
}
