<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gestión de Cartera</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Genera una nueva cartera para comenzar a recibir eCash.</p>

      <ion-button expand="block" (click)="onCrear()">Crear cartera</ion-button>

      <ng-container *ngIf="cartera.state$ | async as s">
        <div *ngIf="s.address" class="ion-margin-top">
          <p><strong>Dirección:</strong> {{ s.address }}</p>
          <p class="ion-text-wrap ion-text-muted">
            <strong>Mnemonic:</strong> {{ s.mnemonicPreview }}
          </p>
        </div>
      </ng-container>
    </ion-card-content>
  </ion-card>
</ion-content>
