<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Alertas BLE</ion-label>
      <ion-toggle [(ngModel)]="settings.ble" (ionChange)="save()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Alertas de red</ion-label>
      <ion-toggle [(ngModel)]="settings.network" (ionChange)="save()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Sonido</ion-label>
      <ion-toggle [(ngModel)]="settings.sound" (ionChange)="save()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Notificaciones visuales</ion-label>
      <ion-toggle [(ngModel)]="settings.visual" (ionChange)="save()"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" color="success" (click)="testNotification()">
        Probar Notificación
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
