<ion-app>
  <app-status-bar></app-status-bar>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>RMZ Wallet</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/tabs/home" routerDirection="root">
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>Inicio</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/tabs/wallet" routerDirection="root">
              <ion-icon slot="start" name="wallet-outline"></ion-icon>
              <ion-label>Cartera</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/tabs/transactions" routerDirection="root">
              <ion-icon slot="start" name="list-outline"></ion-icon>
              <ion-label>Transacciones</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/tabs/settings" routerDirection="root">
              <ion-icon slot="start" name="settings-outline"></ion-icon>
              <ion-label>Configuración</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/ble-devices" routerDirection="root">
              <ion-icon slot="start" name="bluetooth-outline"></ion-icon>
              <ion-label>Transferencias BLE</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-router-outlet></ion-router-outlet>
    </div>
  </ion-split-pane>
</ion-app>
